@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #00925d;
  --bg-color: #000000;
  --bg-black: #28262d;
  --main-text-color: #fff;
  --secondary-text-color: #f9f9f9;
  --para-color: #9ca4ab;
}

.splide__pagination {
  @apply justify-end md:bottom-[3.5rem] md:pe-[5rem];
}

.splide__arrow--prev {
  @apply !-left-12;
}

.splide__arrow--next {
  @apply !-right-12;
}

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply text-sm bg-[var(--bg-color)] text-[var(--main-text-color)];
  }

  ul {
    @apply list-none;
  }

  p {
    @apply text-accent;
  }
  section {
    @apply flex py-10 flex-col gap-6;
  }
  .active {
    @apply font-bold;
  }
  .overlay {
    @apply relative after:content-[''] after:absolute after:w-full after:h-full after:left-0 after:top-0 after:bg-gradient-to-b after:from-black after:via-transparent after:to-black before:content-[''] before:absolute before:w-full before:h-full before:left-0 before:top-0 before:bg-gradient-to-r before:from-black before:via-black before:to-transparent before:opacity-70;
  }
  .card-overlay {
    @apply relative after:content-[''] after:absolute after:w-full after:h-full after:left-0 after:top-0 after:bg-gradient-to-t after:from-black after:via-transparent after:to-transparent;
  }
}
